G1-1/Linux/4/curl-7.61.1/lib/.libs/libcurl.la
G1-1/Linux/4/curl-7.61.1/lib/.libs/libcurl.la
G1-1/Linux/4/curl-7.61.1/lib/.libs/libcurl.so
G1-2/Unix/1/B073040049/HW1/museum/n/n/u/w/w/s/e
G1-2/Unix/2/itemDisplays/There is a beach towel on the ground here.
G1-2/Unix/2/itemDisplays/There is a lamp nearby.
G1-2/Unix/2/itemDisplays/There is a jewel-encrusted egg here.
G1-1/Linux/4/curl-7.61.1/lib/.libs/libcurl.la
G1-1/Linux/4/curl-7.61.1/lib/.libs/libcurl.so
G1-1/Linux/4/curl-7.61.1/lib/.libs/libcurl.so.4
G1-1/Linux/4/curl-7.61.1/tests/libtest/.libs/libhostname.la
G1-2/Unix/1/B073040049/HW1/museum/n/n/u/w/s/w
G1-2/Unix/1/B073040049/HW1/museum/n/n/u/w/w/s/e
G1-2/Unix/2/itemDisplays/The Mona Lisa is here.
G1-2/Unix/2/itemDisplays/There are some valuable coins here.
G1-2/Unix/2/itemDisplays/There is a 100 dollar bill here.
G1-2/Unix/2/itemDisplays/There is a beach towel on the ground here.
G1-2/Unix/2/itemDisplays/There is a bus driver's license here.
G1-2/Unix/2/itemDisplays/There is a dinosaur bone here.
G1-2/Unix/2/itemDisplays/There is a glass jar here.
G1-2/Unix/2/itemDisplays/There is a gold bar here.
G1-2/Unix/2/itemDisplays/There is a lamp nearby.
G1-2/Unix/4/HW4/test/000
G1-2/Unix/2/itemDisplays/There is a life preserver here.
G1-2/Unix/2/itemDisplays/There is a packet of glycerine here.
G1-2/Unix/2/itemDisplays/There is a packet of nitric acid here.
G1-2/Unix/2/itemDisplays/There is a platinum bar here.
G1-2/Unix/2/itemDisplays/There is a shimmering diamond here.
G1-2/Unix/2/itemDisplays/There is a shiny brass key here.
G1-2/Unix/2/itemDisplays/There is a shovel here.
G1-2/Unix/2/itemDisplays/There is a silver bar here.
G1-2/Unix/2/itemDisplays/There is a slip of paper here.
G1-2/Unix/2/itemDisplays/There is a valuable amethyst here.
G1-2/Unix/2/itemDisplays/There is a valuable ruby here.
G1-2/Unix/2/itemDisplays/There is an emerald bracelet here.
G1-2/Unix/2/museum/n/n/d/There is a valuable amethyst here.
G1-2/Unix/2/museum/n/n/u/w/s/w
G1-2/Unix/2/museum/n/n/u/w/w/s/e
G1-2/Unix/2/street/There is a glass jar here.
G1-2/Unix/2/street/There is a packet of glycerine here.
G1-2/Unix/2/street/There is a packet of nitric acid here.
G1-2/Unix/2/street/e/The Mona Lisa is here.
G1-2/Unix/2/street/e/There is a 100 dollar bill here.
G1-2/Unix/2/street/e/There is a beach towel on the ground here.
G1-2/Unix/2/street/e/There is a gold bar here.
G1-2/Unix/2/street/e/There is a jewel-encrusted egg here.
G1-2/Unix/2/street/e/There is a life preserver here.
G1-2/Unix/2/street/e/There is a platinum bar here.
G1-2/Unix/2/street/e/There is a shimmering diamond here.
G1-2/Unix/2/street/e/There is a shiny brass key here.
G1-2/Unix/2/street/e/There is a shovel here.
G1-2/Unix/2/street/e/There is a silver bar here.
G1-2/Unix/2/street/e/There is a slip of paper here.
G1-2/Unix/2/street/e/There is an emerald bracelet here.
G1-2/Unix/2/street/e/s/There are some valuable coins here.
G1-2/Unix/2/street/e/s/w
G1-2/Unix/2/street/s/e
G1-2/Unix/4/HW4/itemDisplays/The Mona Lisa is here.
G1-2/Unix/4/HW4/itemDisplays/There are some valuable coins here.
G1-2/Unix/4/HW4/itemDisplays/There is a 100 dollar bill here.
G1-2/Unix/4/HW4/itemDisplays/There is a beach towel on the ground here.
G1-2/Unix/4/HW4/itemDisplays/There is a bus driver's license here.
G1-2/Unix/4/HW4/itemDisplays/There is a dinosaur bone here.
G1-2/Unix/4/HW4/itemDisplays/There is a glass jar here.
G1-2/Unix/4/HW4/itemDisplays/There is a gold bar here.
G1-2/Unix/4/HW4/itemDisplays/There is a jewel-encrusted egg here.
G1-2/Unix/4/HW4/itemDisplays/There is a lamp nearby.
G1-2/Unix/4/HW4/itemDisplays/There is a life preserver here.
G1-2/Unix/4/HW4/itemDisplays/There is a packet of glycerine here.
G1-2/Unix/4/HW4/itemDisplays/There is a packet of nitric acid here.
G1-2/Unix/4/HW4/itemDisplays/There is a platinum bar here.
G1-2/Unix/4/HW4/itemDisplays/There is a shimmering diamond here.
G1-2/Unix/4/HW4/itemDisplays/There is a shiny brass key here.
G1-2/Unix/4/HW4/itemDisplays/There is a shovel here.
G1-2/Unix/4/HW4/itemDisplays/There is a silver bar here.
G1-2/Unix/4/HW4/itemDisplays/There is a slip of paper here.
G1-2/Unix/4/HW4/itemDisplays/There is a valuable amethyst here.
G1-2/Unix/4/HW4/itemDisplays/There is a valuable ruby here.
G1-2/Unix/4/HW4/itemDisplays/There is an emerald bracelet here.
G1-2/Unix/4/HW4/rooms/endgame/There is a beach towel on the ground here.
G1-2/Unix/4/HW4/rooms/endgame/There is a gold bar here.
G1-2/Unix/4/HW4/rooms/endgame/There is a life preserver here.
G1-2/Unix/4/HW4/rooms/endgame/There is a platinum bar here.
G1-2/Unix/4/HW4/rooms/endgame/There is a shimmering diamond here.
G1-2/Unix/4/HW4/rooms/endgame/There is a shiny brass key here.
G1-2/Unix/4/HW4/rooms/endgame/There is a shovel here.
G1-2/Unix/4/HW4/rooms/endgame/There is a slip of paper here.
G1-2/Unix/4/HW4/rooms/endgame/There is an emerald bracelet here.
G1-2/Unix/4/HW4/rooms/endgame/n/n/n/n/n/There is a 100 dollar bill here.
G1-2/Unix/4/HW4/rooms/endgame/n/n/n/n/n/n/The Mona Lisa is here.
G1-2/Unix/4/HW4/rooms/museum/n/n/d/There is a valuable amethyst here.
G1-2/Unix/4/HW4/rooms/museum/n/n/u/w/s/w
G1-2/Unix/4/HW4/rooms/museum/n/n/u/w/w/s/e
G1-2/Unix/4/HW4/rooms/street/e/s/There are some valuable coins here.
G1-2/Unix/4/HW4/rooms/street/e/s/w
G1-2/Unix/4/HW4/rooms/street/s/e
G1-2/Unix/4/HW4/test/0:0:0
*.pptx
.stversions*
